*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #88AB75;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin ;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 0px 10px 2px #ccc;
    font-size: 8vmin;
    color: #DBD56E;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #2D93AD;
    color: #7D7C84 ;
    border-radius: 1rem;
}
.game-title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #2D93AD;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
}